;; shadow-cljs configuration
{:source-paths ["src/dev"
                "src/main"
                "src/test"]
 :dependencies [[camel-snake-kebab "0.4.2"]
                [funcool/promesa "6.0.0"]]
 :builds {:extension
          {:target     :esm
           :output-dir "dist/"
           :release    {:compiler-options {:optimizations :simple}}
           :modules    {:main {:exports {:activate   main/activate
                                         :deactivate main/deactivate}}}
           :js-options {:js-provider :import}}}}
