;; shadow-cljs configuration
{:source-paths ["src/dev"
                "src/main"
                "src/test"]
 :dependencies [[camel-snake-kebab "0.4.2"]
                [funcool/promesa "6.0.0"]]
 :builds {:extension
          {:target :node-library
           :output-to "dist/main.js"
           :exports {:activate main/activate
                     :deactivate main/deactivate}
           :release {:compiler-options {:optimizations :simple}}
           :js-options
           {:js-provider :shadow
            :keep-native-requires true
            :keep-as-require #{"vscode"}}}}}
